// -------------------- FONT IMPORT --------------------
// -------------------- FONT IMPORT --------------------
// -------------------- FONT IMPORT --------------------
@font-face {
    font-family: "impasse-light";
    src: url('~/assets/font/Impasse.otf');
}
@font-face {
    font-family: "impasse-bold";
    src: url('~/assets/font/ImpasseBold.otf');
}


// -------------------- VARIABLES --------------------
// -------------------- VARIABLES --------------------
// -------------------- VARIABLES --------------------


// ---------------- FONT ----------------
// ---------------- FONT ----------------
$font-light: impasse-light;
$font-bold: impasse-bold;


// ---------------- COLORS ----------------
// ---------------- COLORS ----------------

// ------------ FONT COLOR ------------
$c-blue : rgb(4, 235, 235);
$c-green: rgb(4, 235, 158);
$c-white: rgb(224, 224, 224);

// ------------ BACKGROUND COLOR ------------
$bg-dark-blue: rgb(25, 26, 35);
$bg-blueLinear  : linear-gradient(to bottom, rgba(43,237,230,0.1) 0%, rgba(43,237,230,0.2) 100%);
$bg-blue : rgb(4, 235, 235);